<div class="w-screen h-fit bg-primary">
  <div class=" w-6/12 p-5 columns-3 gap-2 ">
    <div class="text-plight ml-2 ">Templates</div>
    <div class=" text-plight">Pricing</div>
    <div class="text-plight">Contacts</div>
  </div>
  <div class="grid grid-cols-2">
    <div class="col-end-2 p-14 grid grid-rows-3 content-center gap-y-12">
      <p class="text-plight font-bold max-2xl:text-sm text-lg mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.</p>
      <p class="text-plight font-bold max-2xl:text-sm text-lg mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Ea facere perferendis sed omnis dolorem nulla dolores. Aut, placeat quos quo, at facilis 
      atque accusamus quas iure magnam a modi dolores.</p>
     
      <button class="text-secondary text-xl drop-shadow-xl font-outline-s container h-16 w-32 place-self-center rounded-xl bg-plight hover:text-plight p-0 shadow-lg transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-secondary">Get Started</button>
    </div>
    <div class="col-start-2 col-span-1 mt-12 px-40">
      <%= image_tag "cv.webp", class:"absolute ml-20 object-scale-down w-[550px] max-2xl:w-[400px] col-start-2 col-span-1 rounded-[22px] z-[4] drop-shadow-xl w-3" %>
      <%= image_tag "cv.webp", class:"absolute ml-20 object-scale-down w-[550px] max-2xl:w-[400px] col-start-2 col-span-1 z-[3] origin-bottom rotate-[-11deg] rounded-[22px] shadow blur-[2px] overflow-hidden" %>
      <%= image_tag "cv.webp", class:"absolute ml-20 object-scale-down w-[550px] max-2xl:w-[400px] col-start-2 col-span-1 z-[2] origin-bottom rotate-[-22deg] rounded-[22px] blur-sm" %>
    </div>
  </div>
</div>
